{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
       author: Lysun Aleksandr <br />
       <a href="https://github.com/LysunAleksandr/crt-symfony-4.git">Github link <br /></a>
{% endblock %}