{% extends 'base.html.twig' %}
{% block body %}
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content row">
                    <div class="col-lg-4">
                        <h3> Online vegetable<br />garden!</h3>
                        <p> We bring to your attention the best online vegetable garden website</p>
                        <a class="white_bg_btn" href="#">Plant catalog</a>
                    </div>
                    <div class="col-lg-7">
                        <div class="cvety_img">
                            <img src="img/banner/cvety.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

